Repository Corvax-Frontier/nuclear-14, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Изменения Audio :musical_note:, :shark: C# :shark:, :gear: Изменение Конфига :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Изменения Карт :world_map:, :art: Спрайты :art:, :computer: Изменения UI :computer:, :wrench: GitHub Workflow :wrench:

test
  .github/workflows/rsi-diff.yml
  Resources/Audio/_Nuclear14/test.ogg
  Resources/Locale/ru-RU/_Nuclear14/construction.ftl
  Resources/Prototypes/_Nuclear14/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/nuclear14.xml
  Resources/Textures/_Corvax/Mobs/Animals/brahdo.rsi/test.png
Labels: :musical_note: Изменения Audio :musical_note:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:, :wrench: GitHub Workflow :wrench:

Обновление хирург набора
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: none

Переводы+Бафф полевого набора скриптера
  Resources/Locale/ru-RU/_Nuclear14/undecidedloadout.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/outerclothing/falloutarmor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/kits/UndecidedLoadout.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/kits/kits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
Labels: :page_facing_up: Локализация :page_facing_up:

Ребаланс некоторых ганов
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: :page_facing_up: Локализация :page_facing_up:

Бьёньк
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/medical/chemicals.ftl
  Resources/Prototypes/Corvax/Recipes/Crafting/Graphs/medical/bandage.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/medical.yml
  Resources/Prototypes/Corvax/Stacks/medical_stacks.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Maps/Corvax/Wendover.yml
  Resources/Prototypes/Maps/N14/snowyvale.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :world_map: Изменения Карт :world_map:

Быстрый фикс карго.
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
Labels: :shark: C# :shark:

Update StationBankAccountComponent.cs
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
Labels: :shark: C# :shark:

Нёрф пулемётов
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
Labels: none

фикс
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/_NC/Mount/SharedMountableSystem.cs
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Corvax/Mobs/Animals/brahdo.rsi/legion.png
Labels: :shark: C# :shark:, :art: Спрайты :art:

забыл
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
Labels: :shark: C# :shark:

Фикс пояса
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

БУУ
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/falloutdoors/airlocks.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/acces.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/airlocks.yml
  Resources/Textures/Corvax/Interface/Actions/combat_mode.rsi/combat.png
  Resources/Textures/Corvax/Interface/Actions/combat_mode.rsi/combat_off.png
  Resources/Textures/Corvax/Interface/Actions/combat_mode.rsi/meta.json
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/bolted_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closed.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closed_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closing.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closing_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/deny_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/emergency_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/meta.json
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/open.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/opening.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/opening_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/panel_closing.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/panel_open.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/panel_opening.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/welded.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/bolted_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closed.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closed_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closing.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closing_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/deny_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/emergency_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/meta.json
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/open.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/opening.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/opening_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/panel_closing.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/panel_open.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/panel_opening.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/welded.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

пуньк
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: none

Урон стал нулём
  Content.Shared/Atmos/Rotting/RottingComponent.cs
Labels: :shark: C# :shark:

пуньк намба 2
  Resources/Maps/Corvax/Vault.yml
  Resources/Prototypes/Maps/Corvax/Wendover.yml
Labels: :world_map: Изменения Карт :world_map:

Изменение времени для ролей
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/centurion.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/dean.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairerecruit.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnaireveteran.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairewarrior.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/paladin-commander.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_lt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_medic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_sgt.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_soldier.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NCR/ncr_ws.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
Labels: none

punk
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/turrets.ftl
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
Labels: :page_facing_up: Локализация :page_facing_up:

бьёньк
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/misc/tiles.ftl
  Resources/Maps/Corvax/Vault.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/apc.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/medical/bandage.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/substation.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/tiles.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/electronic.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/tiles.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Graphs/medical/bandage.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Corvax/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/apc.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/substation.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :world_map: Изменения Карт :world_map:

maps
  Resources/Maps/Corvax/Vault.yml
Labels: :world_map: Изменения Карт :world_map:

fix
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/rock.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/slantedwalls.yml
Labels: :world_map: Изменения Карт :world_map:

Вроде фикс.
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairerecruit.yml
Labels: none

забил
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
Labels: none

ещё забил
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/slantedwalls.yml
Labels: none

БУ
  Resources/Prototypes/Maps/Corvax/Wendover.yml
Labels: :world_map: Изменения Карт :world_map:

Ура, изменение цен!
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
Labels: none

Мелкий нёрф 12.7
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12.7.yml
Labels: none

Фиксы цен
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: none

Котлеты, уменьшение цены
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
Labels: none

Легионер лодаут фикс + аптейд / Речайндж перков
  Resources/Prototypes/Corvax/Loadouts/Roles/loadouts_legion.yml
  Resources/Prototypes/_Nuclear14/Traits/speech.yml
  Resources/Prototypes/_Nuclear14/Traits/visual.yml
Labels: none

Доп фикс карго
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
Labels: none

Опа, сюда ещё одно изменение цен.
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
Labels: none

Правки по гайдам
  Resources/Locale/ru-RU/_Nuclear14/guidebooks.ftl
  Resources/Prototypes/_Nuclear14/Guidebooks/nuclear14.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Factions/factions.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/index.xml
Labels: :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:

Правка брони супермутанта
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
Labels: none

Фикс повязки
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: none

чуть забыл
  Resources/Prototypes/_Nuclear14/Guidebooks/survivalbasics.yml
Labels: none

Переодические спавнеры мобов.
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/markers/spawners/conditional/timed.ftl
  Resources/Prototypes/_Nuclear14/Entities/Markers/Spawners/Conditional/timed.yml
Labels: :page_facing_up: Локализация :page_facing_up:

punk
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml.cs
  Content.Server/EntityEffects/Effects/Polymorph.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Locale/ru-RU/_Nuclear14/reagents.ftl
  Resources/Locale/ru-RU/_Nuclear14/species.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/metabolism/metabolism-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/mobs/player/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/mobs/species/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/medical/chemicals.ftl
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Corvax/Chemistry/metabolism_groups.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Corvax/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Corvax/Reagents/virus.yml
  Resources/Prototypes/Corvax/polymorph.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ghoul.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ghoulglowing.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ratfolk.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ratmonarch.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :computer: Изменения UI :computer:

Zabil
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
Labels: :shark: C# :shark:, :computer: Изменения UI :computer:

Revert "Фикс повязки"
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: none

fix
  Content.Server/EntityEffects/Effects/Polymorph.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
Labels: :shark: C# :shark:

.github/labeler.yml:

":musical_note: Изменения Audio :musical_note:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Изменение Конфига :gear:": # Corvax-Change
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

":book: Документация :book:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Изменения Карт :world_map:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: Изменения UI :computer:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
