Repository Corvax-Frontier/nuclear-14, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Изменения Audio :musical_note:, :shark: C# :shark:, :gear: Изменение Конфига :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Изменения Карт :world_map:, :art: Спрайты :art:, :computer: Изменения UI :computer:, :wrench: GitHub Workflow :wrench:

Изменение системы переодических спавнеров.
  Content.Server/Spawners/Components/TimedSpawnerComponent.cs
  Content.Server/Spawners/EntitySystems/SpawnerSystem.cs
Labels: :shark: C# :shark:

Изменения логики переодичного спавнера от Mr_Lop_Lop.
  Content.Server/Spawners/Components/TimedSpawnerComponent.cs
  Content.Server/Spawners/EntitySystems/SpawnerSystem.cs
Labels: :shark: C# :shark:

нёрф старт суммы
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
Labels: :shark: C# :shark:

смена прайсов + перчатки механику
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townmechanic.yml
Labels: none

Update currency.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
Labels: none

Цены + Топливный Бак в продаже
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Body/Parts/ghoul.yml
  Resources/Prototypes/_Nuclear14/Body/Parts/ghoulglowing.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_misc.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
Labels: none

Update cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
Labels: none

Мне лень писать крутой и классный коментарий по тому пру, окей?
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/survivalbasics.yml
Labels: none

очередной коммит с кучей чейнджей.
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/catalog/fills/crates.ftl
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/machine_parts.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NPC/raider_loadout.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:

fix
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/ru-RU/_Nuclear14/headset-component.ftl
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/misc/radio.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/wallmount/intercom.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Misc/radio.yml
  Resources/Prototypes/Corvax/Entities/Structures/Wallmount/intercom.yml
  Resources/Prototypes/Corvax/radio_channels.yml
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:

ок, ща
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/beds.yml
Labels: none

Update DiscordAuthManager.cs
  Content.Server/_NC/CCCvars/CCCvars.cs
  Content.Server/_NC/Discord/DiscordAuthManager.cs
  Content.Shared/CCVar/CCVars.NCDiscordAuth.cs
  Content.Shared/_NC/DiscordAuth/MsgDiscordAuthRequired.cs
Labels: :shark: C# :shark:

d
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
Labels: none

ок
  Resources/Prototypes/_Nuclear14/Guidebooks/nuclear14.yml
  Resources/Prototypes/_Nuclear14/Traits/speech.yml
  Resources/Prototypes/_Nuclear14/Traits/visual.yml
Labels: none

punk
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
Labels: :shark: C# :shark:, :computer: Изменения UI :computer:

punk
  Resources/Maps/Corvax/Vault.yml
  Resources/Prototypes/Maps/Corvax/Wendover.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: :world_map: Изменения Карт :world_map:

fix
  Resources/Maps/Corvax/Vault.yml
Labels: :world_map: Изменения Карт :world_map:

Update loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: none

pi
  Resources/Prototypes/Maps/Corvax/Wendover.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: :world_map: Изменения Карт :world_map:

Update loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: none

ex
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Sprite/ContentSpriteSystem.cs
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
Labels: :shark: C# :shark:, :page_facing_up: Локализация :page_facing_up:, :computer: Изменения UI :computer:

Правка неймрулов и прочего
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: none

Update loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: none

punk
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
  Resources/Locale/ru-RU/robust-toolbox/commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/debug-builtin-connection-screen.ftl
  Resources/Locale/ru-RU/robust-toolbox/midi-commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/replays.ftl
  Resources/Locale/ru-RU/robust-toolbox/tab-container.ftl
  Resources/Locale/ru-RU/robust-toolbox/uploadfolder.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/commands.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/debug-builtin-connection-screen.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/entity-category.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/midi-commands.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/physics/grid_merging.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/tab-container.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/toolshed-commands.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/uploadfolder.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/userinterface.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/view-variables.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

Torgomat
  Content.Client/_NC/Trade/ClientListingData.cs
  Content.Client/_NC/Trade/NcStoreItemControl.cs
  Content.Client/_NC/Trade/NcStoreItemControl.xaml
  Content.Client/_NC/Trade/StoreStructuredBoundUi.cs
  Content.Client/_NC/Trade/StoreStructuredMenu.cs
  Content.Client/_NC/Trade/StoreStructuredMenu.xaml
  Content.Server/_NC/Trade/NcStoreLogicSystem.cs
  Content.Server/_NC/Trade/SellConsumesItemCondition.cs
  Content.Server/_NC/Trade/StoreStructuredSystem.cs
  Content.Server/_NC/Trade/StoreStructuredUiSystem.cs
  Content.Server/_NC/Trade/StoreSystemStructuredLoader.cs
  Content.Shared/_NC/Trade/CurrencyItemComponent.cs
  Content.Shared/_NC/Trade/CurrencyPrototype.cs
  Content.Shared/_NC/Trade/ListingConditionPrototype.cs
  Content.Shared/_NC/Trade/StoreComponent.cs
  Content.Shared/_NC/Trade/StoreListingData.cs
  Content.Shared/_NC/Trade/StoreListingPrototype.cs
  Content.Shared/_NC/Trade/StoreMode.cs
  Content.Shared/_NC/Trade/StorePresetStructured.cs
  Content.Shared/_NC/Trade/StoreUi.cs
  Content.Shared/_NC/Trade/StoreUiKey.cs
  Content.Shared/_NC/Trade/StoreUiMessages.cs
Labels: :shark: C# :shark:, :computer: Изменения UI :computer:

Torgomat.2
  Content.Client/_NC/Trade/StoreStructuredMenu.xaml
  Content.Server/_NC/Trade/NcStoreLogicSystem.cs
Labels: :shark: C# :shark:, :computer: Изменения UI :computer:

Torgomat3
  Content.Client/_NC/Trade/NcStoreItemControl.cs
  Content.Client/_NC/Trade/StoreStructuredBoundUi.cs
  Content.Server/_NC/Trade/NcStoreLogicSystem.cs
  Content.Server/_NC/Trade/StoreStructuredSystem.cs
  Content.Server/_NC/Trade/StoreStructuredUiSystem.cs
  Content.Server/_NC/Trade/StoreSystemStructuredLoader.cs
  Content.Server/_NC/Trade/TraderEui.cs
  Content.Shared/_NC/Trade/NcCurrencyPrototype.cs
  Content.Shared/_NC/Trade/NcStoreComponent.cs
  Content.Shared/_NC/Trade/StorePresetStructured.cs
  Content.Shared/_NC/Trade/StoreUiMessages.cs
Labels: :shark: C# :shark:

Fix.3
  Content.Client/_NC/Trade/StoreStructuredBoundUi.cs
  Content.Server/_NC/Trade/TraderEui.cs
  Content.Shared/_NC/Trade/NcStoreComponent.cs
  Content.Shared/_NC/Trade/StoreUiMessages.cs
Labels: :shark: C# :shark:

Обновление правил
  Resources/ServerInfo/_Nuclear14/ServerRules/DefaultRuleset.xml
Labels: :book: Документация :book:

Fix.4
  Content.Client/_NC/Trade/ClientListingData.cs
  Content.Client/_NC/Trade/NcStoreItemControl.cs
  Content.Client/_NC/Trade/StoreStructuredBoundUi.cs
  Content.Client/_NC/Trade/StoreStructuredMenu.cs
  Content.Server/_NC/Trade/NcStoreLogicSystem.cs
  Content.Server/_NC/Trade/StoreStructuredSystem.cs
  Content.Server/_NC/Trade/StoreSystemStructuredLoader.cs
  Content.Server/_NC/Trade/TraderEui.cs
  Content.Shared/_NC/Trade/CurrencyItemComponent.cs
  Content.Shared/_NC/Trade/StoreListingData.cs
  Content.Shared/_NC/Trade/StoreUiKey.cs
  Resources/Prototypes/Corvax/Trade/trade.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
Labels: :shark: C# :shark:

punk
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/CCVar/CCVars.NPC.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: :shark: C# :shark:

Torgomat.Fix4
  Content.Client/_NC/Trade/ClientListingData.cs
  Content.Client/_NC/Trade/NcStoreItemControl.cs
  Content.Client/_NC/Trade/NcStoreItemControl.xaml
  Content.Client/_NC/Trade/StoreStructuredBoundUi.cs
  Content.Client/_NC/Trade/StoreStructuredMenu.cs
  Content.Server/_NC/Trade/NcStoreLogicSystem.cs
  Content.Server/_NC/Trade/StoreStructuredSystem.cs
  Content.Server/_NC/Trade/TraderEui.cs
  Content.Shared/_NC/Trade/NcStoreComponent.cs
Labels: :shark: C# :shark:, :computer: Изменения UI :computer:

Torgomat.Fix5
  Content.Client/_NC/Trade/StoreStructuredMenu.cs
  Content.Server/_NC/Trade/NcStoreLogicSystem.cs
  Content.Server/_NC/Trade/StoreStructuredSystem.cs
  Resources/Prototypes/Corvax/Trade/trade.yml
Labels: :shark: C# :shark:

Torgomat.Fix6
  Content.Client/_NC/Trade/NcStoreItemControl.cs
  Content.Client/_NC/Trade/StoreStructuredMenu.cs
  Content.Client/_NC/Trade/StoreStructuredMenu.xaml
Labels: :shark: C# :shark:, :computer: Изменения UI :computer:

Torgomat.Fix7
  Resources/Prototypes/Corvax/Trade/trade.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
Labels: none

вкл рейдеров
  Content.Shared/Customization/Systems/CharacterRequirements.Misc.cs
  Content.Shared/_NC/CCVars/CorvaxVars.cs
  Resources/Prototypes/Maps/N14/snowyvale.yml
Labels: :shark: C# :shark:, :world_map: Изменения Карт :world_map:

Update loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: none

Update loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: none

Изменения, фиксы, баланс, перевод
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/catalog/fills/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/lmgs/LMGs.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Reagents/ores.yml
Labels: :page_facing_up: Локализация :page_facing_up:

ещё фиксы легиона и других бедняков
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Corvax/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: none

.github/labeler.yml:

":musical_note: Изменения Audio :musical_note:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Изменение Конфига :gear:": # Corvax-Change
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

":book: Документация :book:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Изменения Карт :world_map:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: Изменения UI :computer:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
