Repository Corvax-Frontier/nuclear-14, changes with the labels that .github/labeler.yml gives for each.
All labels: :musical_note: Изменения Audio :musical_note:, :shark: C# :shark:, :gear: Изменение Конфига :gear:, :book: Документация :book:, :page_facing_up: Локализация :page_facing_up:, :world_map: Изменения Карт :world_map:, :art: Спрайты :art:, :computer: Изменения UI :computer:, :wrench: GitHub Workflow :wrench:

AppraisalTool
  Resources/Locale/ru-RU/cargo/price-gun-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/appraisal.ftl
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_blue_line_caravan.yml
Labels: :page_facing_up: Локализация :page_facing_up:

NewFractionandSiera
  Content.Shared/Content.Shared.csproj
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/head/powerarmorhelmet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/outerclothing/powerarmor.ftl
  Resources/Prototypes/Corvax/Access/boswest.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/Corvax/Loadouts/Roles/loadouts_legion.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/brotherhood_west_entity.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/elder.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/gunsmith.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/knight.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/paladin.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/scribe.yml
  Resources/Prototypes/Corvax/Roles/Jobs/factions.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/icon-flash.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/icon-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/light-overlay.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-left-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-right-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-left-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-right-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:

SmallFix
  Content.Shared/Content.Shared.csproj
Labels: none

Update crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/catalog/fills/crates.ftl
Labels: :page_facing_up: Локализация :page_facing_up:

21
  Content.Client/_NC/DoorLock/DoorLockBoundUserInterface.cs
  Content.Client/_NC/DoorLock/DoorLockWindow.cs
  Content.Shared/_NC/DoorLock/DoorLockComponent.cs
  Content.Shared/_NC/DoorLock/DoorLockMessages.cs
  Content.Shared/_NC/DoorLock/DoorLockSystem.cs
Labels: :shark: C# :shark:

SmallFix2
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/elder.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/paladin.yml
  Resources/Prototypes/Corvax/Roles/ai_factions.yml
Labels: none

Маленькие фиксы
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/elder.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/paladin.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/scribe.yml
Labels: none

Еще чуток
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/brotherhood_west_entity.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/elder.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/gunsmith.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/paladin.yml
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/elder.png
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/green.png
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/gunsmith.png
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/knight.png
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/meta.json
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/paladin.png
  Resources/Textures/_Nuclear14/Markers/Jobs/boswest.rsi/scribe.png
Labels: :art: Спрайты :art:

.github/labeler.yml:

":musical_note: Изменения Audio :musical_note:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: "**/*.ogg"

":shark: C# :shark:":
  - changed-files:
    - any-glob-to-any-file: "**/*.cs"

":gear: Изменение Конфига :gear:": # Corvax-Change
- changed-files:
  - any-glob-to-any-file:
    - "**/*.toml"
    - "**/*.config"
    - "*.json"
    - ".github/*.yml"
    - ".github/*.json"
    - ".vscode/*.json"
    - ".editorconfig"

":book: Документация :book:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.xml"
      - "**/*.md"

":page_facing_up: Локализация :page_facing_up:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: 'Resources/Locale/**/*.ftl'

":world_map: Изменения Карт :world_map:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "Resources/Maps/**/*.yml"
      - "Resources/Prototypes/Maps/**/*.yml"

":art: Спрайты :art:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.rsi/*.png"
      - "**/*.rsi/*.json"

":computer: Изменения UI :computer:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: "**/*.xaml*"

":baby_chick: YML :baby_chick:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.yml"
    - all-globs-to-all-files:
      - "!Resources/Maps/**/*.yml"
      - "!Resources/Prototypes/Maps/**/*.yml"

":wrench: GitHub Workflow :wrench:": # Corvax-Change
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/*.yml"
